SimulationType MonteCarlo
NumberOfCycles 5000
NumberOfInitializationCycles 0
PrintEvery 1000
RestartFile no

Forcefield Local
UseChargesFromCIFFile yes

Framework 0
FrameworkName simulation_structure
UnitCells 1 1 1
ExternalTemperature 298.0
ExternalPressure 100000.0

Component 0 MoleculeName He
MoleculeDefinition He
WidomProbability 1.0
CreateNumberOfMolecules 0